Repository klaus385/timescaledb-kubernetes, changes with the labels that .github/labeler.yml gives for each.
All labels: invalid, area/timescaledb-single, area/timescaledb-multinode, area/promscale, area/avalanche, area/tooling, area/docs

.github/labeler.yml:

invalid:
- charts/timescaledb-multinode/*

area/timescaledb-single:
- charts/timescaledb-single/*

area/timescaledb-multinode:
- charts/timescaledb-multinode/*

area/promscale:
- charts/promscale/*

area/avalanche:
- charts/avalanche/*

area/tooling:
- .github/*
- scripts/*
- testdata/*
- Makefile
- ct.yaml
- .gitignore

area/docs:
- CONTRIBUTING.md
- LICENSE
- NOTICE
- README.md

Prevent helm 3.10.x linting failure
  charts/timescaledb-single/templates/pgbackrest.yaml
Labels: none

charts/timescaledb-single: improve topology handling
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/docs/upgrade-guide.md
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

charts/promscale: updated alerting rules
  charts/promscale/Chart.yaml
  charts/promscale/templates/prometheus-rule.yaml
  charts/timescaledb-single/Chart.yaml
Labels: area/timescaledb-single, area/promscale

charts/timescaledb-single: bump image to pg14.6-ts2.9.1-p1
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

Bump timescaledb-single chart version
  charts/timescaledb-single/Chart.yaml
Labels: area/timescaledb-single

charts/timescaledb-single: use helm revision number instead of random number for patroni reloader job
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/job-update-patroni.yaml
Labels: area/timescaledb-single

Add Support for GCS and Azure backups (#401)
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/README.md
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/templates/secret-pgbackrest.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

Add option to provide images used by jobs, bump chart version, update schemas, add icon to remove helm lint warning (#558)
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/job-update-patroni.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

set patronictl config file (#552)
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

Fix/curl image regression in v0.32.0 (#559)
  charts/timescaledb-single/Chart.yaml
Labels: area/timescaledb-single

Remove Promscale mention
  README.md
Labels: area/docs

Remove link to Promscale
  README.md
Labels: area/docs

Add note about Promscale being discontinued
  charts/promscale/README.md
Labels: area/promscale

check for enabled backup after sourcing environment
  charts/timescaledb-single/scripts/pgbackrest_archive_get.sh
  charts/timescaledb-single/scripts/pgbackrest_restore.sh
Labels: none

Update semver
  charts/timescaledb-single/Chart.yaml
Labels: area/timescaledb-single

Fix timescaledb single 0.3.22 release (#600)
  charts/timescaledb-single/scripts/pgbackrest_archive.sh
  charts/timescaledb-single/scripts/pgbackrest_archive_get.sh
Labels: none
