Repository klaus385/timescaledb-kubernetes, changes with the labels that .github/labeler.yml gives for each.
All labels: invalid, area/timescaledb-single, area/timescaledb-multinode, area/promscale, area/avalanche, area/tooling, area/docs

.github/labeler.yml:

invalid:
- charts/timescaledb-multinode/*

area/timescaledb-single:
- charts/timescaledb-single/*

area/timescaledb-multinode:
- charts/timescaledb-multinode/*

area/promscale:
- charts/promscale/*

area/avalanche:
- charts/avalanche/*

area/tooling:
- .github/*
- scripts/*
- testdata/*
- Makefile
- ct.yaml
- .gitignore

area/docs:
- CONTRIBUTING.md
- LICENSE
- NOTICE
- README.md

parca-server: Fix incorrect serviceAccount name
  charts/parca-server/templates/deployment.yaml
  charts/parca-server/templates/rolebinding.yaml
Labels: none

Fix CI failure when only avalanche charts are modified
  .github/workflows/tests.yml
Labels: none

Add helm chart for parca-agent
  charts/parca-agent/Chart.yaml
  charts/parca-agent/README.md
  charts/parca-agent/templates/_helpers.tpl
  charts/parca-agent/templates/cluster-role-binding.yaml
  charts/parca-agent/templates/cluster-role.yaml
  charts/parca-agent/templates/daemonset.yaml
  charts/parca-agent/templates/pod-security-policy.yaml
  charts/parca-agent/templates/role.yaml
  charts/parca-agent/templates/rolebinding.yaml
  charts/parca-agent/templates/service-acccount.yaml
  charts/parca-agent/templates/service.yaml
  charts/parca-agent/values.yaml
Labels: none

Expose avalanche service monitor interval
  charts/avalanche/Chart.yaml
  charts/avalanche/templates/service-monitor.yaml
  charts/avalanche/values.yaml
Labels: area/avalanche

chart/timescaledb-single: release chart again as release wasn't created with https://github.com/timescale/helm-charts/pull/500 (#501)
  charts/timescaledb-single/Chart.yaml
Labels: area/timescaledb-single

Add helm chart for parca-server
  charts/parca-server/Chart.yaml
  charts/parca-server/README.md
  charts/parca-server/templates/_helpers.tpl
  charts/parca-server/templates/config.yaml
  charts/parca-server/templates/deployment.yaml
  charts/parca-server/templates/pod-security-policy.yaml
  charts/parca-server/templates/role.yaml
  charts/parca-server/templates/rolebinding.yaml
  charts/parca-server/templates/service-acccount.yaml
  charts/parca-server/templates/service.yaml
  charts/parca-server/values.yaml
Labels: none

Use k8s Service to create fake avalanche targets for Prometheus
  charts/avalanche/Chart.yaml
  charts/avalanche/templates/svc-avalanche.yaml
  charts/avalanche/values.yaml
Labels: area/avalanche

Add ipv6 addresses to schema validation (#500)
  .github/workflows/tests.yml
  charts/promscale/Chart.yaml
  charts/promscale/templates/prometheus-rule.yaml
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
Labels: area/timescaledb-single, area/promscale

chart/timescaledb-single: move prestop.psql out of helm templates
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/prestop.psql
  charts/timescaledb-single/templates/configmap-scripts.yaml
Labels: area/timescaledb-single

charts/promscale: propagate alerts fixes from upstream
  charts/promscale/Chart.yaml
  charts/promscale/templates/prometheus-rule.yaml
Labels: area/promscale

charts/timescaledb-single: remove experimental fullWALPrevention
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/upgrade-guide.md
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

charts/timescaledb-single: reload pod on tstune args changes
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

charts/timescaledb-single: remove internal socket_directory template
  charts/timescaledb-single/templates/_helpers.tpl
  charts/timescaledb-single/templates/configmap-pgbackrest.yaml
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: none

charts/timescaledb-single: reduce number of variables
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: none

charts/timescaledb-single: change indentation and convert to nindent
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

charts/timescaledb-single: move tstune script outside of helm templates
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/tstune.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

chart/timescaledb-single: move pgbackrest_archive_get.sh out of ConfigMap
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/pgbackrest_archive_get.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
Labels: area/timescaledb-single

chart/timescaledb-single: move post_init.sh out of ConfigMap
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/post_init.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

chart/timescaledb-single: move pgbackrest_bootstrap.sh out of ConfigMap
  charts/timescaledb-single/scripts/pgbackrest_bootstrap.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
Labels: none

charts/timescaledb-single: move PGBACKREST_BACKUP_ENABLED var to STS
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: none

chart/timescaledb-single: do not parametrize pod_environment_file via helm
  charts/timescaledb-single/templates/_helpers.tpl
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: none

chart/timescaledb-single: move pgbackrest_archive.sh out of ConfigMap
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/pgbackrest_archive.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
Labels: area/timescaledb-single

chart/timescaledb-single: move pgbackrest_restore.sh out of ConfigMap
  charts/timescaledb-single/scripts/pgbackrest_restore.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: none

chart/timescaledb-single: move patroni_callback.sh out of ConfigMap
  charts/timescaledb-single/scripts/patroni_callback.sh
  charts/timescaledb-single/templates/configmap-scripts.yaml
Labels: none

chart/timescaledb-single: do not parametrize pgbackrest_environment_file via helm
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/_helpers.tpl
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

*: simplify shellchecking
  Makefile
  charts/timescaledb-single/Chart.yaml
  scripts/extract-scripts.sh
Labels: area/timescaledb-single, area/tooling

charts/timescaledb-single: rename psql extension to sql to allow better interoperability wwith IDEs
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/scripts/prestop.sql
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

chart/timescaledb-single: move restore_or_initdb.sh out of ConfigMap
  charts/timescaledb-single/scripts/restore_or_initdb.sh
  charts/timescaledb-single/templates/_helpers.tpl
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: none

charts/timescaledb-single: allow setting affinity
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
Labels: area/timescaledb-single

charts/timescaledb-single: simplify name override
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/admin-guide.md
  charts/timescaledb-single/docs/upgrade-guide.md
  charts/timescaledb-single/templates/_helpers.tpl
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
  charts/timescaledb-single/values.yaml
Labels: area/timescaledb-single

chart/timescaledb-single: unify clusterName naming
  charts/timescaledb-single/templates/_helpers.tpl
  charts/timescaledb-single/templates/job-update-patroni.yaml
Labels: none

chart/timescaledb-single: unify labels across resources
  charts/timescaledb-single/templates/_helpers.tpl
  charts/timescaledb-single/templates/configmap-patroni.yaml
  charts/timescaledb-single/templates/configmap-pgbackrest.yaml
  charts/timescaledb-single/templates/configmap-pgbouncer.yaml
  charts/timescaledb-single/templates/configmap-scripts.yaml
  charts/timescaledb-single/templates/job-update-patroni.yaml
  charts/timescaledb-single/templates/networkpolicy.yaml
  charts/timescaledb-single/templates/pgbackrest.yaml
  charts/timescaledb-single/templates/podmonitor.yaml
  charts/timescaledb-single/templates/role-timescaledb.yaml
  charts/timescaledb-single/templates/rolebinding-timescaledb.yaml
  charts/timescaledb-single/templates/secret-certificate.yaml
  charts/timescaledb-single/templates/secret-patroni.yaml
  charts/timescaledb-single/templates/secret-pgbackrest.yaml
  charts/timescaledb-single/templates/serviceaccount-timescaledb.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
  charts/timescaledb-single/templates/svc-timescaledb-config.yaml
  charts/timescaledb-single/templates/svc-timescaledb-replica.yaml
  charts/timescaledb-single/templates/svc-timescaledb.yaml
  charts/timescaledb-single/values.schema.json
  charts/timescaledb-single/values.schema.yaml
Labels: area/timescaledb-single

Fix scope in range for labels templating
  charts/timescaledb-single/templates/pgbackrest.yaml
Labels: none

bump chart version
  charts/timescaledb-single/Chart.yaml
Labels: area/timescaledb-single

timescaledb-single: do not remove everything on upgrade
  charts/timescaledb-single/Chart.yaml
Labels: area/timescaledb-single

Update README.md
  charts/parca-agent/Chart.yaml
  charts/parca-agent/README.md
Labels: none

charts/timescaledb-single: fix checksuming of tstune args
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/templates/statefulset-timescaledb.yaml
Labels: area/timescaledb-single

Add support to configure `scrapeTimeout` for Prometheus
  charts/avalanche/Chart.yaml
  charts/avalanche/templates/service-monitor.yaml
Labels: area/avalanche

promscale: Re-generate alerts from latest promscale mixin
  charts/promscale/Chart.yaml
  charts/promscale/templates/prometheus-rule.yaml
Labels: area/promscale

Note to enable backup for the restored release (#511)
  charts/timescaledb-single/Chart.yaml
  charts/timescaledb-single/docs/admin-guide.md
Labels: area/timescaledb-single
